img{
    width: 100%;
   
    
}
.text-center{
text-align: center;
}
div{
    height: 200px;
    width: 400px;
    color:black;
    
    background-color: white;
    padding: 20px;
    margin: auto;
    box-shadow: 10px 10px 10px 10px gray;
   
}